services:
  postgres:
    image: postgres:16
    env_file: [ .env.postgres ]
    volumes: [ pgdata:/var/lib/postgresql/data ]
    ports: [ "5432:5432" ]

  redis:
    image: redis:7
    ports: [ "6379:6379" ]

  web:
    build: ./backend
    command: >
      sh -c "python manage.py migrate --noinput &&             python manage.py runserver 0.0.0.0:8000"
    env_file: [ .env.web ]
    volumes: [ "./backend:/app" ]
    ports: [ "8000:8000" ]
    depends_on: [ postgres, redis ]

  celery:
    build: ./backend
    command: celery -A tasks worker -l info
    env_file: [ .env.celery, .env.web ]
    volumes: [ "./backend:/app" ]
    depends_on: [ web, redis ]

  frontend:
    build: ./frontend
    command: sh -lc "yarn install && yarn dev --host 0.0.0.0 --port 3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    ports: [ "3000:3000" ]
    depends_on: [ web ]
    environment:
      VITE_API_BASE: "http://localhost:8000/api/"
    # (опц.) если иногда плывёт DNS:
    # dns: [ "8.8.8.8", "1.1.1.1" ]


volumes:
  pgdata:
